.habilidade-bg {
  display: flex;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;  
  padding: 40px 0px;
  position: relative;
}

.habilidade-bg span:after {
  content: " ";
  display: block;
  height: 60px;
  width: 100%;
  background: var(--cor-p1);
  margin-top: 4px;
  transition: 0.3s;
  z-index: -1;
  position: absolute;
  
}


.habilidades {
  width: 750px; 
  gap: 80px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  background: var(--cor-p4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 80px 0;
}

.habilidade-bg h2 {
  text-align: center;
  margin-bottom: 40px; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  margin: 0 auto;
  gap: 20px;
}

.habilidade-front {
  align-items: center;
  gap: 100px;
  display: flex;
}

.habilidade-front h3 {
  justify-items: flex-start;
}


.habilidade-ux {
  align-items: center;
  gap: 195px;
  display: flex;
}


@media (max-width: 800px) {
  .habilidade-bg {
    padding: 30px 0px; 
  }
  
  .habilidade-bg h2 {
    margin-bottom: 30px;
  }
  
  .habilidades {
    width: 100%;
    gap: 40px;
    padding: 50px; 
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .habilidade-front {
    gap: 50px;
    margin-bottom: 40px;
  }

  .habilidade-ux {
    gap: 125px;
  }
}

@media (max-width: 450px) {

  .habilidades {
    gap:40px;
  }

  .habilidade-front, .habilidade-ux {
    flex-direction: column;
    margin-bottom: 15px;
    gap: 30px;
  }

}
