.f1-titulo { 
  font: 500 3rem/1.2 "Poppins", sans-serif;
}

.f2-subtitulo {
  font: 400 2rem/1.5 "Poppins", sans-serif;
}
  
.f3-titulo-itens {
  font: 400 1.5rem/1.3 "Jura", sans-serif;
}

.f4-texto {
  font: 400 1.125rem/1.7 "Jura", sans-serif;
}

  
@media (max-width: 800px) {
  .f1-titulo { 
    font: 500 2.25rem/1.2 "Poppins", sans-serif;
  }
    
  .f2-subtitulo {
    font: 400 1.75rem/1.4 "Poppins", sans-serif;
  }
      
  .f3-titulo-itens {
    font: 400 1.25rem/1.4 "Jura", sans-serif;
  }
    
  .f4-texto {
    font: 400 1rem/1.6 "Jura", sans-serif;
  }
}

@media (max-width: 480px) {
  .f1-titulo { 
    font: 500 1.875rem/1.2 "Poppins", sans-serif;
  }
  
  .f2-subtitulo {
    font: 400 1.5rem/1.4 "Poppins", sans-serif;
  }
    
  .f3-titulo-itens {
    font: 400 1.125rem/1.4 "Jura", sans-serif;
  }
  
  .f4-texto {
    font: 400 0.875rem/1.6 "Jura", sans-serif;
  }
}